<!DOCTYPE html>
<html>
  <head>
    <title>WhiskersBnb</title>
    <%= csrf_meta_tags %>

    <script src="https://unpkg.com/react@15.3.1/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
      <%= link_to 'My Profile', user_path(current_user.id) %>
    <% else %>
      <%= link_to 'Become a Host', new_user_registration_path(:role => 'host') %>
      <%= link_to 'Sign Up', new_user_registration_path(:role => 'guest') %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
    <%= link_to 'Home', root_path %>

    <%= yield %>
  </body>
</html>
